/* font-family: 'Allison', cursive;
font-family: 'Raleway', sans-serif; */

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
header {
    background-color: black;
    padding: 0 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav {align-self: center;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3px 9px;
}

nav a:hover {
    color: orange;
}
article {
    background-color: purple;
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

article span {
    flex-grow: 1;
    text-align: center;
}

#features div{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

#features{
    padding-bottom: 40px;
}

h1 {
    font-family: 'Allison', cursive;
    font-size: 80px;
    color: orange;
}

h2 {
    font-family: 'Allison', cursive;
    font-size: 60px;
    color: white;
}

#gallery h2 {
    text-align: center;
}

h3 {
    font-family: 'Allison', cursive;
    font-size: 80px;
    color: orange;
    text-align: center ;
}

h4 {
    font-family: 'Allison', cursive;
    font-size: 60px;
    color: rgb(255, 255, 255);

}
h5 {
    color: purple;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    color: rgb(235, 226, 245);
}
i {
    font-size: 50px;
    color: orange;
}
article a {
    background-color: white;
    color: purple;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3px 9px;
    align-self: center;
}
#gallery {
    background-color: black;
    padding: 40px 90px;
}

#gallery div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;

} 
#gallery image {
    flex: 1 1 230px;
}




footer {
    background-color: orange;
    padding: 20px 90px;
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
}
footer i {
    font-size: 30px;
    color: white;
}

footer h4 {
    flex-grow: 1;
}

.icons{
    align-self: center;
}